<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MOKAIO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="robots" content="noindex">
  </head>
  <body>
    <header class="full-header">
        <div class="main-nav container p-2">
           <ul class="nav">
            <li class="name"><a href="{{url_for('index')}}">MOKAIO</a></li>
          </ul>
        </div>
        <div class="center-content">
          <div class="value-prop">
            <h1 class="title m-5">Merci qui ? merci {{name}}</h1>
            <div class="d-flex flex-direction-row justify-content-center">
              <a class ="CTA-projet m-5 col-md-12" href="index.html">Menu Principal</a>
            </div>
          </div>
        </div>
      </header>
  </body>
  </html>
